/* UN CSS BASICO PARA DESPUES MODIFICAR*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
}

.slogan {
    font-size: 1.2em;
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Secciones */
section {
    padding: 40px;
    text-align: center;
}

button {
    background-color: #f04b4e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #d43f42;
}

/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}
