
html{
    font-family: system-ui;
}
body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.hero{
    background-image: url("https://i.postimg.cc/mZFGJXZ3/Whats-App-Image-2024-07-30-at-7-57-34-AM.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgb(40, 6, 6); /*Por defecto si no funciona mi imagen*/
}

/* Menu Header Restaurante */
 
header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

   
.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    z-index: 999;
}
   
.wrap-logo-header{
    position:absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    flex-shrink: 0;
}

.logo-header img {
    width: 120px; /* Ajusto el logo */
    height: auto; 
}
   
.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
}
   
.nav-header{
    display: flex;
    align-items: center;
    width: 100%;
}
   
.nav-wrap-header{
    display: flex;
    flex-basis: 50%;
}
   
ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
}
   
ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgb(98, 37, 15);
    color: #fff;
}
   
li.menu-item{
    margin: .75rem;
    display: flex;
    margin-left: 20px;
}
   
li.menu-item a{
    padding: .5rem 1rem;
    color: #222;
}
   
li.menu-item a:hover{
    color: #FFC300;
}
   
i.toggle-menu{
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
}
   
i.toggle-menu img{
    width: 27px;
    z-index: 99;
}
   
input#check{
    display: none;
}


@media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
}
   
@media (max-width:768px){
    header{
      margin-bottom: 4rem;
    }

    .header-wrap{
        position: fixed;
        width: 100%;
        background-color: #fff;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }
    .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
    }
    i.toggle-menu{
        display: flex;
    }
    ul.main-menu,#nav-main-contact{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.main-menu{
        position: fixed;
        background-color: #fff;
    }
    label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }
}
