
html{
    font-family: system-ui;
}
body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.hero{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgba(32, 13, 6, 0.886); /*Por defecto si no funciona mi imagen*/
}

/* Menu Header */
 
header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

   
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    z-index: 999;
}
   
.wrap-logo-header{
    position:absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    flex-shrink: 0;
}

.logo-header img {
    width: 120px; 
    height: auto; 
}
   
.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
}
   
.nav-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding-left: 80%;
}
   
.nav-wrap-header{
    display: flex;
    flex-basis: 50%;
}
   
ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
    gap: 10px;
}
   
ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgb(98, 37, 15);
    color: #fff;
    
}
   
li.menu-item{
    margin: .75rem;
    display: flex;
    margin-left: 20px;
}
   
li.menu-item a{
    padding: .5rem 1rem;
    color: #222;
}
   
li.menu-item a:hover{
    color: #FFC300;
}
   
i.toggle-menu{
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
}
   
i.toggle-menu img{
    width: 27px;
    z-index: 99;
}
   
input#check{
    display: none;
}

.container{
    position: relative;
    height: 100vh;
}

form{
    position: absolute;
    top: 85px;
    right: 70px; 
    width: 100%;
    max-width: 450px; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    color: rgb(114, 42, 9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

form label {
    display: block;
    margin-bottom: 8px; 
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #ffaa00; 
    border: none;
    border-radius: 7px;
    color: rgb(114, 42, 9);
    cursor: pointer;
    width:100%;
}

form button:hover {
    background-color: #e0a700; 
}

.beneficios{
    position: absolute;
    top: 380px;
    right: 55px; 
    width: 100%;
    max-width: 480px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    height: auto; 
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px
}

/* ROTADOR DE BANNERS */
.banner-carousel {
    position: absolute;
    top: 55%;
    left: 40px;
    transform: translateY(-50%);
    width: 500px; 
    height: 530px; 
    overflow: hidden;
    border: 2px solid #dddddd55; 
}

.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*GALERIA -> IMG DEL LUGAR COMO TAL */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery a:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* VIDEO DE YOUTUBE */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción de 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
    
}
   
@media (max-width:768px){
    header{
      margin-bottom: 4rem;
    }

    .header-wrap{
        position: fixed;
        width: 100%;
        background-color: #fff;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }
    .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 5%;
        left: 3%;
    }
    i.toggle-menu{
        display: flex;
    }
    ul.main-menu,#nav-main-contact{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.main-menu{
        position: fixed;
        background-color: #fff;
        z-index: 10000;
    }
    label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }

    .beneficios{
        position: absolute;
        top: 360px;
        right: 0; 
        width: 50%;
        max-width: 350px;
        color: white;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        height: auto;
    }
    form{
        position: absolute;
        top: 70px;
        right: 10px; 
        width: 50%;
        max-width: 300px; 
        padding: 20px;
        background: rgba(255, 255, 255, 0.8); 
        color: rgb(114, 42, 9);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(50% - 10px);
    }
    .contact-form {
        padding: 10px;
        margin: 10px;
    }
    .banner-carousel {
        position: absolute;
        top: 55%;
        left: 15px;
        transform: translateY(-50%);
        width: 300px; 
        height: 400px; 
        overflow: hidden;
        border: 2px solid #dddddd55; 
    }



}

@media (max-width: 480px) {
    .beneficios {
        font-size: 14px; 
        max-width: 100%;
    }

    form {
        padding: 10px;
        max-width: 100%;
    }

    .contact-form {
        padding: 15px;
    }
}