:root {
    --color1: #000;
    --color2: #000000;
    --color3: #ffe100;
    --color4: #ffe100;
    --color5: #f7ff05;
    --color6: #ffe100;
    --color7: #f7ff0532;
    --color8: #ffe100;
    --color9: #000000;
    --color10: #ecf45a;
    --color11: #ffe100;
    --color12: #d22929a3;
    --color13: #000;
    --color14: #25252528;
    --color15: #13131337;

}

html {
    font-family: "ADLaM Display";
    background-color: var(--color13);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.adlam-display-regular {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hero {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    padding: 30px 20px;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color7);
}

/* Menu Header */

header.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}


.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color2);
    z-index: 999;
}

.wrap-logo-header {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    flex-shrink: 0;
}

.logo-header img {
    width: 120px;
    height: auto;
}

.logo-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color3);
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding-left: 40%;
}

.nav-wrap-header {
    display: flex;
    flex-basis: 50%;
}

ul.main-menu {
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    gap: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
}

li.menu-item.dark-mode-toggle {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el ícono dentro del contenedor */
    padding: 0 1rem; /* Ajusta el espacio alrededor del ícono si es necesario */
    flex-shrink: 0;
}

.dark-mode-icon {
    width: 30px; /* Tamaño del ícono */
    height: auto;
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    transition: opacity 0.3s ease; /* Añade una transición suave al cambiar el modo */
    filter: invert(1);
}

.dark-mode-icon:hover {
    opacity: 0.7; /* Efecto visual al pasar el mouse sobre el ícono */

}

ul.main-menu #nav-main-contact {
    display: flex;
    align-items: center;
    padding: .9rem 1rem;
    background-color: var(--color4);
    color: var(--color2);

}

li.menu-item {
    margin: 0;
    display: flex;
}

li.menu-item a {
    padding: .9rem 1rem;
    color: var(--color3);
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

li.menu-item a:hover {
    color: var(--color6);
}

i.toggle-menu {
    display: none;
    background-color: var(--color2);
    border: none;
    z-index: 9999;
}

i.toggle-menu img {
    width: 27px;
    filter: invert(75%) sepia(100%) saturate(500%) hue-rotate(-30deg) brightness(100%) contrast(100%);
    z-index: 99;
}

input#check {
    display: none;
}

.container {
    position: relative;
    height: 100vh;
}

form {
    position: absolute;
    top: 85px;
    right: 70px;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: var(--color8);
    color: var(--color9);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color5);
    transform: translateY(0);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color10);
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: var(--color6);
    border: none;
    border-radius: 7px;
    color: var(--color9);
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: var(--color6);
}

.beneficios {
    position: absolute;
    top: 390px;
    right: 55px;
    width: 100%;
    max-width: 480px;
    color: var(--color8);
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    height: auto;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: var(--color1);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color7);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color10);
    border-radius: 4px;
}

.contact-form button {
    padding: 10px
}

/* ROTADOR DE BANNERS */
.banner-carousel {
    position: absolute;
    top: 55%;
    left: 40px;
    transform: translateY(-50%);
    width: 500px;
    height: 530px;
    overflow: hidden;
    border: 2px solid var(--color11);
}

.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*GALERIA -> IMG DEL LUGAR COMO TAL */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery a:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--color12);
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#footer_1,
#footer_2,
#footer_3,
#footer_4 {
    color: var(--color10);
}

footer a {
    color: #2f00ff;
    /* Cambia el color de los enlaces */
}

/* VIDEO DE YOUTUBE */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color7);
    background-color: var(--color13);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:880px) {
    .header-wrap {
        padding: .5rem 5rem;
    }


}

@media (max-width:1030px) {
    .hero {
        text-align: center;
        margin-top: 0;
        border-radius: 8px;
        height: 700px;

    }
    .beneficios {
        position: absolute;
        top: 450px;
        right: 60px;
        width: 50%;
        max-width: 350px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        height: auto;
    }

    form {
        position: absolute;
        top: 100px;
        right: 15px;
        width: 50%;
        max-width: 450px ;
        padding: 20px;
        border-radius: 8px;
        transform: translateY(50% - 10px);
    }

    .contact-form {
        padding: 10px;
        margin: 10px;
    }

    .banner-carousel {
        position: absolute;
        top: 30%;
        left: 15px;
        transform: translateY(-50%);
        width: 400px;
        height: 500px;
        overflow: hidden;
    }


}

@media (max-width:768px) {
    header {
        margin-bottom: 4rem;
    }

    .header-wrap {
        position: fixed;
        width: 100%;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }

    .wrap-logo-header {
        position: fixed;
        z-index: 999;
        top: 5%;
        left: 3%;
    }

    i.toggle-menu {
        display: flex;
        background-color: var(--color4);
    }

    ul.main-menu,
    #nav-main-contact {
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: var(--color2);
    }

    ul.main-menu {
        position: fixed;
        z-index: 10000;
    }

    label.checkbtn {
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
    }

    #check:checked~ul {
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }

    .beneficios {
        position: absolute;
        top: 360px;
        right: 0;
        width: 50%;
        max-width: 350px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        height: auto;
    }

    form {
        position: absolute;
        top: 70px;
        right: 10px;
        width: 50%;
        max-width: 300px;
        padding: 20px;
        border-radius: 8px;
        transform: translateY(50% - 10px);
    }

    .contact-form {
        padding: 10px;
        margin: 10px;
    }

    .banner-carousel {
        position: absolute;
        top: 55%;
        left: 15px;
        transform: translateY(-50%);
        width: 300px;
        height: 400px;
        overflow: hidden;
    }

}

@media (max-width: 480px) {
    .hero {
        text-align: center;
        height: 1200px;
        margin-top: 0;
        border-radius: 8px;
    }
    .beneficios {
        font-size: 14px;
        max-width: 100%;
    }

    form {
        position: absolute;
        top: 70px;
        right: 35px;
        max-width: 500px;
        padding: 50px;
        border-radius: 8px;
    }

    .contact-form {
        max-width: 0px;
        margin: 0px auto;
        padding: 20px;
        border-radius: 5px;
    }

    .beneficios {
        position: absolute;
        top: 480px;
        right: 75px;
        width: 50%;
        max-width: 350px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        height: auto;
    }

    .banner-carousel {
        position: center;
        top: 115%;
        left: 30px;
        transform: translateY(-50%);
        width: 300px;
        height: 400px;
        overflow: hidden;
    }
}